.blog-item {
    position: relative;
    margin: 40px 5px 1px 5px;
    background-color: #fff;
    box-shadow: rgb(33 33 33 / 6%) 0 4px 24px 5px;
    border-radius: 8px;
    transition: all 1s;
}

.blog-item:hover {
    margin-top: 30px;
    transition: all 1s;
}

.blog-item img {
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}

.blog-item-inner {
    margin-bottom: 30px;
    padding: 25px 25px;
}

.blog-item-inner p {
    margin: 12px 0 2px 0;
}

h3.blog-title {
    margin-bottom: 10px;
}

h3.blog-title a {
    font-size: 20px;
    color: #071e55;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

h3.blog-title a:hover {
    color: #0d6efd;
    text-decoration: underline;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

a.blog-icons {
    color: #858585;
    font-size: 14px;
    font-style: italic;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #aaa;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

a.blog-icons i {
    padding-right: 4px;
    color: #656565;
    font-size: 17px;
    line-height: 18px;
    vertical-align: text-bottom;
}

a.blog-icons:hover {
    color: #0d6efd;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

a.blog-icons.last {
    border-right: none;
}